<section class="p-section-table">
	<div class="p-section-table__inner l-inner">
		<div class="p-section-table__heading">
			<%- include(ejsPath + './component/_c-section-title', {title: "テーブル", subTitle: "piyo"} ) %>
		</div>
		<div class="p-section-table__content">
			<table class="p-section-table__table">
				<thead>
					<tr>
						<th scope="col"><%- json.table.header.name %></th>
						<th scope="col"><%- json.table.header.age %></th>
						<th scope="col"><%- json.table.header.country %></th>
					</tr>
				</thead>
				<tbody>
					<% for (let i = 0; i < json.table.body.length; i++) { %>
					<tr>
						<th scope="row"><%- json.table.body[i].name %></td>
						<td><%- json.table.body[i].age %></td>
						<td><%- json.table.body[i].country %></td>
					</tr>
					<% } %>
				</tbody>
				<tfoot>
					<tr>
						<th scope="row"><%- json.table.footer.result %></td>
						<td><%- json.table.footer.total %></td>
					</tr>
				</tfoot>
			</table>

			<div class="p-section-table__button">
				<%- include(ejsPath + './component/_c-button-normal', {modifier: "white", link: "piyo.html", text: "ボタン"} ) %>
			</div>
		</div>
	</div>
</section>