<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
<%- include(baseUrlPath + '/common/_head' ,{ baseUrl: baseUrlPath, page: json.pageData[pageData] }) %>

<body>
  <%- include(baseUrlPath + '/common/_header', {page: 'top'} ) %>
  <main>
    <div class="l-fv"><%- include(baseUrlPath + '/project/_p-fv' ) %></div>
    <div class="l-section"><%- include(baseUrlPath + '/project/_p-content-section' ) %></div>
    <div class="l-section" id="contact"><%- include(baseUrlPath + '/project/_p-contact-section' ) %></div>
  </main>
  <div class="l-footer"><%- include(baseUrlPath + '/common/_footer' ) %></div>
</body>

</html>